@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    /* outline: 1px solid red; */
}

body {
    background-image: url(/fylo-data-storage-component-master/images/bg-mobile.png);
    font-size: 14px;
}
.wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 60px 20px 68px 20px;
}

.container {
    padding: 32px 23px 30px 15px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 12px 60px 12px 12px;
}

.container > img {
    margin: 0 20px 25px;
}

.icons {
    margin: 0 20px;
}

.icons img {
    width: 25px;
    height: 23px;
    padding: 10px;
    border-radius: 5px;
    background-color: hsl(229, 57%, 11%);
}

.container-2 {
    margin: 12px 0;
    padding: 35px;
    border-radius: 12px;
    background: hsl(228, 56%, 26%);
    position: relative;
}

.storage-reader {
    background-color: hsl(229, 57%, 11%);
    padding: 20px 0 0 0;
    margin: 15px 0 0 0;
    border-radius: 15px;
    position: relative;
}

.storage-reader::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 12px;
    background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width: 190px;
    height: 15px;
}

.storage-reader::after {
    content: "";
    background-color: hsl(0, 100%, 100%);
    position: absolute;
    top: 2.5px;
    left: 178px;
    width: 14px;
    height: 14px;
    border-radius: 10px;
}

.storage-alert {
    position: absolute;
    top: 90%;
    left: 22%;
    width: 170px;
    height: 70px;
    border-radius: 10px;
    background-color: hsl(0, 100%, 100%);
}

.storage-alert p{
    position: relative;
    top: 35%;
    left: 15%;
}

.data {
    font-size: 25px;
    font-weight: 700;
}

.end {
    margin-left: 158px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
}